{% extends 'base.html' %}

{% set title = article.title %}

<!-- #region Header-->
{% block header %}
<header class="bg-dark text-white text-center py-4">
    <div class="container text-center">
        <a href="{{ SITEURL }}/" 
        class="logo-img">
        <i class="fas fa-home fa-2x"
        title="Voltar para a página inicial"
        style="text-decoration: none; color: #EE471D;"></i>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-5">
        {{ article.title }}
    </h1>
    <p class="text-muted publication-date mb-5 text-end">
        Publicado em {{ article.date.strftime('%d/%m/%Y %H:%M') }}
    </p>

    {% if article.metadata.image %}
        <img src="{{ SITEURL }}/{{ article.metadata.image }}" 
        alt="{{ article.title }}" 
        class="img-fluid mb-5 feature-image">
    {% endif %}

    <div class="article-content mb-5 post">
        {{ article.content }}
    </div>

    <!--#region Botões de navegação-->
    <div class="post-navigation" style="margin-top: 2rem; text-align: center;">
    
        {% if article.prev_article %} <!--Se exitem artigos mais antigos, defina o botão próximo post-->
            <a href="{{ SITEURL }}/{{ article.prev_article.url }}" class="btn-nextprev" style="margin-right: 10px;">
                ← {{ article.prev_article.title }} 
            </a>
        {% endif %}

        {% if article.next_article%}
        <a href="{{ SITEURL }}/{{ article.next_article.url }}" class="btn-nextprev" style="margin-right: 10px;">
            {{ article.next_article.title }} →
        </a>
        {% endif %}
        
        <a href="{{ SITEURL }}/" class="btn-voltarlista">
            Voltar para a lista de posts
        </a>
    
    </div>
    
    
    <!--#endregion-->
</div>


{% endblock %}