<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- #region configurações Meta/SEO-->
    <meta charset="UTF-8">
    <meta name="description" content="{{ article.metadata.meta_description if article and article.metadata.meta_description else 'O humilde legado digital de um dev em chamas | Estudos, códigos e conversas sobre os mais variados assuntos — da tecnologia e seus rumos à cultura nerd/geek.' }}">
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url if article else '' }}">
    <meta http-equiv='content-language' content='pt-BR'> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ article.metadata.seo_keywords if article and article.metadata.seo_keywords else 'tecnologia, programação, cultura geek, robsings, rob.sings, devonfire, blog, blog devonfire'}}">
    <meta name="author" content="rob.sings">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{{ title if title else SITENAME }}">
    <meta property="og:description" content="{{ article.summary if article and article.summary else SITEDESCRIPTION }}">
    <meta property="og:image" content="{{ article.metadata.image if article and article.metadata.image else SITELOGO }}">
    <meta property="og:url" content="{{ SITEURL }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:locale" content="pt_BR">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title if title else SITENAME }}">
    <meta name="twitter:description" content="{{ article.summary if article and article.summary else SITEDESCRIPTION }}">
    <meta name="twitter:image" content="{{ article.metadata.image if article and article.metadata.image else SITELOGO }}">
    <meta name="twitter:site" content="{{ SITEURL }}">
    <title>{% if article and article.title %}
        {{ article.title }} | {{ SITENAME }}
      {% elif title %}
        {{ title }} | {{ SITENAME }}
      {% else %}
        {{ SITENAME }}
      {% endif %}</title>
    <!-- #endregion-->

    <!-- #region Font Awesome e Bootstrap Libs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css"
    integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <!--#endregion-->
    
    <!--Favicon-->
    <link rel="icon" href="{{ SITEURL }}/theme/images/favicon.ico" type="image/x-icon"> 
    
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    

</head>
<body class="d-flex flex-column min-vh-100">
    <!-- #region Header -->
     {% block header %}
     <header class="bg-dark text-white text-center py-4">
        <div class="container">
            <div class="logo">
                <img src=
                "{{ SITEURL }}/theme/images/logo2.png" 
                alt="logo" class="mb-3 logo-img" 
                style="max-width:150px;">
                <span class="devonfire-text">
                    DevOnFire
                </span>
            </div>
            <h1>Artigos, códigos e devaneios</h1>
            <p class="lead">Espero que curtam. Tudo aqui deu trabalho pra fazer 🤙</p>
        </div>
     </header>
     {% endblock %}
    <!-- #endregion -->
    <!-- #region Espaço reservado para o botão e a funcionalidade de arquivo do Blog -->
    <!-- Botão para abrir o arquivo -->
<button class="btn btn-secondary position-fixed open-button" id="openButton" title="Arquivo Do Blog"
style="top: 260px; right: 10px; z-index: 1050;background-color:#212529;"
type="button" data-bs-toggle="offcanvas" data-bs-target="#archiveOffcanvas" aria-controls="archiveOffcanvas">
<i class="fas fa-folder-open"></i>
</button>

<!-- Offcanvas com conteúdo dos arquivos -->
<div class="offcanvas offcanvas-end" style="font-family:'Poiret One', serif!important; font-weight:bolder" tabindex="-1" id="archiveOffcanvas" aria-labelledby="archiveOffcanvasLabel">
<div class="offcanvas-header">
    <h5 id="archiveOffcanvasLabel" class="text-capitalize" style="color:#212529!important;font-size: 23pt;">Arquivo do Blog</h5>
</div>
<div class="offcanvas-body">
    <!-- Botão de fechamento -->
    <button type="button" class="btn-close custom-close-button position-fixed" text="Fechar Arquivo" id="customCloseButton"
            style="top: 10px; right: 10px; z-index: 1051; color:#212529!important" aria-label="Close"></button>

    {% include "includes/archive_menu.html" %}
</div>
</div>
    
    <!-- #endregion-->
    <!-- #region conteúdo Principal -->
    <main class="flex-glow-1">
        {% block content %}
        {% endblock %}
    </main>
    <!-- #endregion -->
    <!-- #region footer -->
    <footer class="footer mt-auto py-4" style="background-color: #000; color: #fff;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 text-center text-md-start">
                    <a href="{{ SITEURL }}/">
                    <img src="{{ SITEURL }}/theme/images/logo2.png" 
                    alt="Logo" 
                    class="logo-img" 
                    style="max-width: 100px;"
                    title="Voltar para a página inicial">
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-0" 
                    style="color: #EE471D; font-size:small;">
                    &copy; {{ SITEYEAR }} 
                    DevOnFire. Todos os direitos reservados a 
                    <a href="https://github.com/robsings" 
                        target="_blank"
                        style="color:#fcfcfc;text-decoration:none;font-weight:900">
                        robsings
                    </a>.
                    </p>
                </div>
                <div class="col-md-4 text-center text-md-end">
                    <a href="https://github.com/robsings" 
                    target="_blank" 
                    class="text-white me-3" 
                    title="Github - robsings">
                    <i class="fa-brands fa-square-github"></i>
                    </a>
                    <!-- TODO: Inclua novas redes sociais aqui -->
                </div>
            </div>
        </div>
    </footer>
    <!-- #endregion -->

    <!-- #region Bootstrap Lib -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js">
    </script>
    <!-- #endregion -->
    
    <script>
document.addEventListener('DOMContentLoaded', () => {
  // Seleciona todas as imagens dentro do conteúdo do artigo
  document.querySelectorAll('.article-content img').forEach(img => {
    img.addEventListener('click', () => {
      // Abre a URL da imagem em uma nova aba
      window.open(img.src, '_blank', 'noopener,noreferrer');
      window.focus();
    });
  });
});
    </script>

    <script>
document.addEventListener('DOMContentLoaded', () => {
  // Seleciona todos os <a> do documento
  document.querySelectorAll('.article-content a').forEach(link => {
    // Define target="_blank" para abrir em nova aba
    img.addEventListener('click', () => {
      // Abre a URL da imagem em uma nova aba
      window.open(link, '_blank', 'noopener,noreferrer');
      window.focus();
    });
  });
});
</script>

    </script>

</body>
</html>